<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <extensions>
    <add assembly="NLog.Extensions.AzureTableStorage" />
  </extensions>
  <targets>
    <target name="AzureTableStorageKeysTests"
        xsi:type="AzureTableStorage"
        PartitionKey="Test.${logger}"
        RowKey="${ticks}__${guid}"
        ConnectionString="UseDevelopmentStorage=true"
        tableName="AzureTableStorageKeysTests" />

    <target xsi:type="AsyncWrapper"
      name="AzureTableStoragePerformanceTestsAsync"
      queueLimit="2000"
      timeToSleepBetweenBatches="0"
      batchSize="200"
      overflowAction="Grow">
      <target name="AzureTableStoragePerformanceTests"
          xsi:type="AzureTableStorage"
          PartitionKey="Test.${logger}"
          RowKey="${ticks}__${guid}"
          ConnectionString="UseDevelopmentStorage=true"
          tableName="AzureTableStoragePerformanceTests" />
    </target>

    <target name="AzureTableStorageTargetTests"
        xsi:type="AzureTableStorage"
        PartitionKey="Test.${logger}"
        RowKey="${ticks}__${guid}"
        ConnectionString="UseDevelopmentStorage=true"
        tableName="AzureTableStorageTargetTests" />
  </targets>
  <rules>
    <logger name="AzureTableStorageKeysTests" minlevel="Trace" writeTo="AzureTableStorageKeysTests" />
    <logger name="AzureTableStoragePerformanceTests" minlevel="Trace" writeTo="AzureTableStoragePerformanceTestsAsync" />
    <logger name="AzureTableStorageTargetTests" minlevel="Trace" writeTo="AzureTableStorageTargetTests" />
  </rules>
</nlog>