<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="NLog.Extensions.AzureTableStorage"/>
    </extensions>
    <targets>
        <target name="AzureTableStorageKeysTests"
            xsi:type="AzureTableStorage"
            PartitionKey="Test.${logger}"
            RowKey="${ticks}__${guid}"
            ConnectionString="UseDevelopmentStorage=true"
            tableName="AzureTableStorageKeysTests" />

        <target name="AzureTableStoragePerformanceTests"
            xsi:type="AzureTableStorage"
            PartitionKey="Test.${logger}"
            RowKey="${ticks}__${guid}"
            ConnectionString="UseDevelopmentStorage=true"
            tableName="AzureTableStoragePerformanceTests" />

        <target name="AzureTableStorageTargetTests"
            xsi:type="AzureTableStorage"
            PartitionKey="Test.${logger}"
            RowKey="${ticks}__${guid}"
            ConnectionString="UseDevelopmentStorage=true"
            tableName="AzureTableStorageTargetTests" />
    </targets>
    <rules>
        <logger name="AzureTableStorageKeysTests" minlevel="Trace" writeTo="AzureTableStorageKeysTests" />
        <logger name="AzureTableStoragePerformanceTests" minlevel="Trace" writeTo="AzureTableStoragePerformanceTests" />
        <logger name="AzureTableStorageTargetTests" minlevel="Trace" writeTo="AzureTableStorageTargetTests" />
    </rules>
</nlog>